.grid {
  display: grid;
  border: 2px blue solid;
  width: 400px;
  height: 500px;
  grid-template-columns: 100px 50% 200px;
  grid-template-rows: 40% 50% 50px;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}

/*rows are defined similarly to columns are, if columns are defined and rows not,
then by defaul the rows (with m being number of rows) will take the pixel value
1/m of the element total height. */
